main {
    margin: 146px 0 0 0;
}

.topo {
    background: #01328c;
    height: 40px;
    margin: 0;
    padding-top: 12px;
}

.topo-navegacao {
    background: #000000;
    font-size: 14px;
}

.espaçotopo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-inline-end: 72px;
    margin-inline-start: 72px;
    margin-left: 72px;
    margin-right: 72px;
    padding-left: 80px;
    padding-right: 80px;
    height: 28px;
}

.header__button{
    background: none;
    border: none;
    outline: none;
    cursor: pointer;
    width: 40px;
    height: 24px;
}

.nav__lista{
    width: 100%;
    height: 100%;
    margin-left: 24px;
    list-style-type: none;
    list-style-image: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    gap: 30px;
}

.topo-navegacao__lista > div:hover{
    background: #FFFFFF20;
}

.texto{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    font-weight: 400;
}

.erm {
    padding: 6px;
}
.espaço{
    height: 29px;
    padding: 70px 0;
}

.btton-seletor-de-idioma{
    background: none;
    border: none;
    outline: none;
    box-shadow: none;
    
}

.btton-seletor-de-idioma:hover{
    background:#FFFFFF80
}

.classificação {
    text-align: left;
    font-weight: 400;
    font-size: 32px;
    padding: 0 10px;
    /*width: 1599px;*/
    margin-bottom: 32px;
}

.tabela {
    display: block;
    vertical-align: baseline;
    font-family: 'Poppins', 'Noto Sans', 'Helvetica Neue', Arial, sans-serif;
    font-size: 16px;
    padding: 0 10px;
    /*width: 1600px;*/
    margin-bottom: 32px;
    min-width: 635px;
    overflow: auto;
}

.tabela td{
    height: 28px;
}

.nomegrupo{
    font-size: 20px;
    font-weight: 400;
    height: 46px;
    /*width: 900px;*/
    padding: 16px 0 16px 16px;
}

.nomepaís {
    padding: 16px 4px;
    text-align: left;
    display: flex;
    align-items: center;
    gap: 8px;
}


.posição{
    padding: 16px 3px 16px 0;
    min-width: 18px;
    text-align: right;
    width: 18px;
}

.detalhetabela{
    width: 46px;
    height:46px;
    padding: 16px 4px;
    font-size: 14px;
    font-weight: 400;
    color: #505b73;
    text-align: center;
}

.ultimosresultados {
    font-size: 14px;
    font-weight: 400;
    color: #505b73;
    text-align: center;
    width: 90px;
    height: 46px;
    padding: 16px 16px 16px 4px;
}

.pontuaçãotimes {
    font-weight: 700;
}

.tabelabolinhas{
    align-items: center;
    justify-content: center;
    flex-direction: row;
    column-gap: 4px;
    height: 57px;
}

.rowbolinhas{
    width: 90px;
    height: 8px;
    padding: 0;
    display: flex;
    list-style-type: none;
    list-style-image: none;
    justify-content: center;
    gap: 8px;
}

.vitoria{
    background-color: #28aa53;
    border-radius: 50%;
    width: 8px;
    height: 8px;

}

.derrota{
    background-color: #fc3944;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.empate{
    background-color: #929292;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.tbd{
    background-color: #ededed;
    border-radius: 50%;
    width: 8px;
    height: 8px;
}

.marcacao-eliminado{
    width: 0;
    padding: 0;
    position: relative;
}

.marcacao-eliminado::before{
    content: "";
    width: .25rem;
    inset: 0;
    position: absolute;
    background: repeating-linear-gradient(180deg, #fc3944 0, #fc3944 10px, #fc394400 0, #fc394400 12px);
}

.marcacao-classificado{
    position: relative;
    width: 0;
    padding: 0;
}

.marcacao-classificado::before{
    content: "";
    width: .25rem;
    inset: 0;
    position: absolute;
    background: repeating-linear-gradient(180deg, #28aa53 0, #28aa53 10px, #28aa5300 0, #28aa5300 12px);
}

.tabela__sigla {
    display: none;
}

@media (width < 1024px) {

    .espaçotopo > .texto, 
    .espaçotopo > span, 
    .espaçotopo > .seletor-de-idioma, 
    .topo-navegacao__lista,
    .ultimosresultados,
    .tabelabolinhas,
    .tabela__nome {
        display: none;
    }

    .tabela__sigla {
        display: inline-block;
    }
}
